//Author: Thomas Lundy 14729391 CSSE FYP Maynooth University.

body {
    background-color: #008B8B;
    height: 1000px;
}

.myFooter {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: grey;
   color: white;
   text-align: center;
}

.con {
  border: 1px solid white;
  width: 50%;
  position: relative;
  left: auto;
  right:auto;
  text-align: center;
}

table, th, td
{

    text-align: center;
    align: center;
    padding: 5px;
}

.jumbotron {
  height: 70px;
}
